.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: auto;
}
.whole-card-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 4vh 13vh 13vh 4vh;
  width: 100%;
  height: auto;
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  align-items: center;
}
.title-grid {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}
.fig-box {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  object-fit: cover;
}
.fig-img {
  cursor: pointer;
  width: 100%;
  height: auto;
  object-fit: cover;
  border: none;
}
.author-name {
  grid-row: 4 / 5;
}
.article-box {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 3 / 3;
}
.publication-date {
  grid-column: 2 / 2;
  grid-row: 4 / 4;
  color: gray;
  margin-left: 1vw;
}
