.button-caroussel {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  width: 30px;
  height: auto;
  border: none;
  background: none;
  color: #151515;
  padding: .5rem;
  transition: .1s ease;
}
.button-caroussel:hover {
  transform: scale(120%, 120%);
}
