footer {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #ece4b764;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-top: 1px solid #ddd;
}
footer > img {
  display: flex;
  justify-content: flex-start;
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}
.logoFooter {
  width: 100px;
}

.txtFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.txtFooter h6 {
  align-items: center;
  margin-top: 8px;
  font-size: 12px;
  color: #333;
}

.txtFooter span {
  font-size: 12px;
  color: #020202;
}

.icones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icones img {
  width: 30px;
  height: 30px;
}

.icones img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 545px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  footer > img {
    width: 50px;
    height: 50px;
    margin: 0 42%;
  }
  .footerSpan {
    display: none;
  }

  .txtFooter {
    flex-direction: column;
    gap: 5px;
  }

  .icones {
    gap: 10px;
  }

  .icones img {
    margin-top: 12px;
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 350px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .footerSpan {
    display: none;
  }
}
