* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header,
footer {
  flex: 0;
}
.main-container {
  display: grid;
  justify-items: center;
  flex: 1;
  gap: 2rem;
}
.header-container {
  margin-bottom: 2rem;
}

.the-main {
  min-height: 60vh;
}
